@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@100;300;400&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #fefbed;
  background-color: black;
}

header {
  background-color: #800020;
  height: 120px;
}
header .headercontainer {
  display: flex;
  justify-content: space-between;
}
header .headercontainer .navlist {
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-right: 50px;
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  gap: 60px;
}
header li {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
header li {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s ease-in-out;
}
header li:hover {
  border-bottom: 4px solid rgb(108, 0, 0);
}
header #tbclogo {
  height: 70px;
  width: 70px;
  margin-left: 50px;
  margin-top: 20px;
}
header a {
  text-decoration: none;
  color: white;
}

.socialsection {
  position: fixed;
  right: 0;
  color: white;
  top: 50%;
  margin-right: 10px;
}
.socialsection #social-bar {
  list-style-type: none;
}
.socialsection .fa-facebook-f {
  color: white;
}
.socialsection .fa-instagram {
  color: white;
}
.socialsection .fa-twitter {
  color: white;
}

.social-icon1 {
  width: 20px;
  height: 20px;
}

#contact {
  width: 600px;
  height: 400px;
  padding: 60px 50px;
  padding-left: 90px;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-top: 100px;
  width: 500px;
}

label {
  margin-bottom: 10px;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid #b0aeae;
  background-color: transparent;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  transition: border-bottom-color 0.3s;
}

input:focus,
textarea:focus {
  border-bottom-color: #6a6767;
}

input[type=submit] {
  background-color: #8b0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5b0000;
}

label {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

#contactflexbox {
  display: flex;
}
#contactflexbox img {
  width: 500px;
}

.newsflexbox {
  display: flex;
}
.newsflexbox img {
  width: 500px;
}

#newsletter {
  width: 600px;
  height: 400px;
  padding: 60px 50px;
  padding-left: 90px;
}

footer {
  margin-top: 300px;
  height: 150px;
  background-color: black;
}
footer .footerdiv {
  display: flex;
  justify-content: space-around;
}
footer .footerdiv .footerdivone {
  display: flex;
  color: white;
  font-family: "Poppins", sans-serif;
}
footer .footerdiv .footerdivone .footerul {
  list-style-type: none;
}
footer a {
  text-decoration: none;
  color: white;
}
