@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@100;300;400&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #fefbed;
  background-color: black;
}

header {
  background-color: #800020;
  height: 120px;
}
header .headercontainer {
  display: flex;
  justify-content: space-between;
}
header .headercontainer .navlist {
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-right: 50px;
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  gap: 60px;
}
header #tbclogo {
  height: 70px;
  width: 70px;
  margin-left: 50px;
  margin-top: 20px;
}
header a {
  text-decoration: none;
  color: white;
}

.socialsection {
  position: fixed;
  right: 0;
  color: white;
  top: 50%;
  margin-right: 10px;
}
.socialsection #social-bar {
  list-style-type: none;
}
.socialsection .fa-facebook-f {
  color: white;
}
.socialsection .fa-instagram {
  color: white;
}
.socialsection .fa-twitter {
  color: white;
}

.social-icon1 {
  width: 20px;
  height: 20px;
}

#mainsection {
  margin-left: 120px;
  margin-top: 200px;
  margin-bottom: 300px;
}
#mainsection #emtpyseats {
  width: 500px;
}
#mainsection .containerabout {
  display: flex;
  color: white;
}
#mainsection .abouttext {
  margin-left: 100px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 500px;
  height: 600px;
}
#mainsection .abouttext #text1 {
  font-family: "Poppins", sans-serif;
}

footer {
  margin-top: 100px;
  height: 150px;
  background-color: black;
}
footer .footerdiv {
  display: flex;
  justify-content: space-around;
}
footer .footerdiv .footerdivone {
  display: flex;
  color: white;
  font-family: "Poppins", sans-serif;
}
footer .footerdiv .footerdivone .footerul {
  list-style-type: none;
}
footer a {
  text-decoration: none;
  color: white;
}
