@use 'variables';

body {
    margin:0;
    padding:0;
    background-color:white;
}

header {
    background-color: variables.$header-color2;
    height:100px;
        .headercontainer {
            display:flex;
            justify-content:space-between;

            .navlist {
                color:white;
                font-weight:700;
                margin-right:50px;
                margin-top:30px;
                list-style-type: none;
                display:flex;
                gap:60px;
            }
        }

    #tbclogo {
        height:50px;
        width:50px;
        margin-left:50px;
        margin-top:20px;
    }

    
}