@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@100;300;400&display=swap');

body {
    margin:0;
    padding:0;
    background-color: #fefbed;
    background-color:black;

}
a {
    text-decoration:none;
}

p {
    text-align: justify;
}
header {
    background-color: variables.$header-color2;
    height:120px;
    width:100%;
        .headercontainer {
            display:flex;
            justify-content:space-between;

            .navlist {
                color:white;
                font-weight:700;
                font-family: 'Poppins', sans-serif;
                font-size: 20px;
                margin-right:50px;
                margin-top:30px;
                list-style-type: none;
                display:flex;
                gap:60px;
            }
        }

        li {
            opacity: 0;
            animation: fadeIn 1s ease-in-out forwards;
          }
          
          @keyframes fadeIn {
            to {
              opacity: 1;
            }
          }
          li {
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.2s ease-in-out;
          }
          
          li:hover {
            border-bottom: 4px solid rgb(108, 0, 0); 
          }
          

    #tbclogo {
        height:70px;
        width:70px;
        margin-left:50px;
        margin-top:20px;
    }

    a {
        text-decoration:none;
        color:white;
    }
}
    .hero {
        position:relative;
        text-align:center;
        display:flex;
        justify-content:center;

        #cinema {
            max-width:1300px;
        }

        #overlaytextcinema {
            color:white;
            font-family: 'Poppins', sans-serif;
            font-size:40px;
            position:absolute;
            top:30%;
            left:50%;
            transform: translate(-50%, -50%);
        }

        #overlaytextcinema2 {
            color:firebrick;
            font-family: 'Poppins', sans-serif;
            font-size:25px;
            position:absolute;
            top:40%;
            left:50%;
            transform: translate(-50%, -50%)
        }
    }

    


#firstsection {
    margin-left:50px;
    margin-top: 20px;

        #header1 {
            font-size:70px;
            color: variables.$header-color2;
            font-family: 'Poppins', sans-serif;
            
        }

        #top5christmas {
            font-size:30px;
            font-family: 'Poppins', sans-serif;
            color: rgb(205, 0, 0);
            margin-left:90px;
            height:40px;
            margin-bottom:10px;
        }

        #xmastext {
            margin-left:90px;
            width:500px;
            font-size:18px;
            font-family:'Roboto', sans-serif;
            font-weight:300;
            color:green;
     }

        #secondposter {
            padding-top:100px;
            padding-bottom:5px;
        }

        #top5binge {
            font-size:30px;
            font-family: 'Poppins', sans-serif;
            color:cornflowerblue;
            margin-left:40px;
            height:40px;
            margin-bottom:10px;
        }

        #bingetext {
            margin-left:40px;
            width:500px;
            font-size:18px;
            font-family:'Roboto', sans-serif;
            font-weight:300;
            color:rgb(143, 143, 143);
     }

     #top5halloween {
        font-size:30px;
        font-family: 'Poppins', sans-serif;
        color:white;
        margin-left:110px;
        height:40px;
        margin-bottom:10px;
    }

    #halloweentext {
        margin-left:30px;
        width:600px;
        font-size:18px;
        font-family:'Roboto', sans-serif;
        font-weight:300;
        color:rgb(99, 197, 204);
 }
        .flexcontainer1 {
            display:flex;
        }

    .flexbox2row {
        padding-top:300px;
        padding-left:100px;
    }
}
.socialsection {
    position:fixed;
    right:0;
    color:white;
    top:50%;
    margin-right:10px;

        
        #social-bar {
            list-style-type: none;
        }
    
    .fa-facebook-f {
        color:white;
    

    }

    .fa-instagram {
        color:white;
    }

    .fa-twitter {
        color:white;
    }
        
}

.social-icon1 {
    width:20px;
    height:20px;
}

#secondsection {
    margin-left:50px;
    padding-top:50px;

    #header2 {
        font-size:50px;
        color: variables.$header-color2;
        font-family: 'Poppins', sans-serif;
    }

    .flexcontainer2 {
        display:flex;
        gap:100px;
    }

    a {
        text-decoration:none;
    }

    .flexcontainer2 {
        font-weight:600;
        font-family:'Roboto', sans-serif;
        font-size:20px;
        text-align:center;
    }

    #netflix {
        color:Red;
    }
    #primevideo {
        color:deepskyblue;
    }
    #cavea {
        color:blueviolet;
    }
    #disney {
        color:darkcyan;
    }

}

#sugtext {
    color: variables.$header-color2;
    font-family: 'Poppins', sans-serif;
    font-size:40px;
    margin-left:50px;
}

#thirdsection {
    margin-left:50px;
    display:flex;

        #sugpic {
            height:700px;
        }
        #container {
            width: 800px;
            height: 585px;
            background-color: #161514;
            padding: 20px;
            margin-left:50px;
            margin-top:40px;
          
            form {
              width: 600px;
              height: 400px;
              background-color: #161514;
              display: flex;
              flex-direction: column;
              padding: 60px 50px;
              padding-left:90px;
          
              .input-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
          
                label {
                  color: white;
                  font-family: 'Roboto', sans-serif; /* Roboto font */
                  margin-bottom: 5px;
                }
          
                input, textarea {
                  padding: 8px;
                  border: none;
                  border-bottom: 1px solid #ccc; /* Slightly more gray lines */
                  background-color: transparent;
                  color: white;
                  outline: none;
                  margin-top: 5px;
                  font-family: 'Roboto', sans-serif; /* Roboto font */
                }
              }
          
              button {
                margin-top:50px;
                margin-left:500px;
                width:100px;
                padding: 10px 15px;
                background-color: darkred;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-family: 'Roboto', sans-serif; /* Roboto font */
              }
            }
          }

          button {
            background-color: darkred;
            color: white;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
          }
      
          button:hover {
            background-color: #8b0000; /* Dark red shade for hover effect */
          }

          @keyframes colorChange {
            0% {
              background-color: darkred;
            }
            100% {
              background-color: #8b0000;
            }
          }
          
          button {
            background-color: darkred;
            color: white;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            animation: colorChange 2s; /* Animation duration without infinite repetition */
          }
          
      
          
}

footer {
    margin-top:100px;
    height:150px;
    width:100%;
    background-color: black;
        .footerdiv {
            display:flex;
            justify-content: space-around;

                .footerdivone {
                    display:flex;
                    color:white;   
                    font-family: 'Poppins', sans-serif;

                        .footerul {
                            list-style-type: none;
                        }
                }
        }

        a {
            text-decoration:none;
            color:white;
        }
}

@media (max-width:1280px) {
    #header1 {
        width:700px;
        margin-left:290px;
    }

    #header2 {
        width:500px;
        margin-left:380px;
    }

    #sugtext {
        width:900px;
        margin-left:240px;
    }

    .flexcontainer1 {
        flex-direction:column;
        margin-left:320px;
    }
    #firstsection {
        margin-left:0;
        #xmastext {
            margin-left:50px;
        }
            .flexbox2row {
                padding-left:0;
                padding-top:100px;
            }
    }

    .flexcontainer2 {
        flex-direction:column;
        width:700px;
        margin-left:250px;
    }

    .flexrow3 {
        width:700px;
    }
    #cavea, #disney, #primevideo {
        margin-left:300px;
    }
    #netflix {
        margin-left:330px;
    }

    #thirdsection {
        margin-left:390px;
        width:600px;
        flex-direction:column;

            #container {
                width:500px;
                padding:15px;
                margin-left:0;

                    form {
                        width:500px;
                        padding-left:0;
                        padding:0;

                        label {
                            margin-left:15px;
                            margin-top:20px;
                        }

                            button {
                                margin-left:190px;
                            }
                    }
            }

            
    }

}

@media (max-width:1100px) {

    #cinema {
        width:1000px;
    }
    .hero #overlaytextcinema {
        font-size:35px;
    }
    #header1 {
        width:700px;
        margin-left:220px;
    }

    #header2 {
        width:500px;
        margin-left:300px;
    }

    #sugtext {
        width:700px;
        margin-left:230px;
        font-size:40px;
    }

    .flexcontainer1 {
        flex-direction:column;
        margin-left:250px;
    }
    #firstsection {
        margin-left:0;
        #xmastext {
            margin-left:50px;
        }
            .flexbox2row {
                padding-left:0;
                padding-top:100px;
            }
    }

    .flexcontainer2 {
        flex-direction:column;
        width:700px;
        margin-left:170px;
    }

    .flexrow3 {
        width:700px;
    }
    #cavea, #disney, #primevideo {
        margin-left:300px;
    }
    #netflix {
        margin-left:330px;
    }

    #thirdsection {
        margin-left:300px;
        width:600px;
        flex-direction:column;

            #container {
                width:500px;
                padding:15px;
                margin-left:0;

                    form {
                        width:500px;
                        padding-left:0;
                        padding:0;

                        label {
                            margin-left:15px;
                            margin-top:20px;
                        }

                            button {
                                margin-left:190px;
                            }
                    }
            }

            
    }

}

@media (max-width:1000px) {
    #cinema {
        width:900px;
    }
    .hero #overlaytextcinema {
        font-size:32px;
    }
    #firstsection #header1 {
        font-size:68px;
        width:700px;
        margin-left:200px;
    }
    .flexcontainer1 {
        flex-direction:column;
        margin-left:220px;
    }

    #header2 {
        width:500px;
        margin-left:270px;
    }

    .flexcontainer2 {
        margin-left:130px;
    }

    #sugtext {
        font-size:36px;
        width:800px;
        margin-left:150px;
    }

    #thirdsection {
        margin-left:250px;
    }
}

@media (max-width:900px) {

    #thecorpsebride {
        width:600px;
    }
    #cinema {
        width:800px;
    }
    .hero #overlaytextcinema {
        font-size:28px;
    }
    #firstsection #header1 {
        font-size:60px;
        width:700px;
        margin-left:170px;
    }
    #firstsection #halloweentext {
        margin-left:5px;
    }
    .flexcontainer1 {
        flex-direction:column;
        margin-left:160px;
    }

    #header2 {
        width:500px;
        margin-left:200px;
    }

    .flexcontainer2 {
        margin-left:65px;
    }

    #sugtext {
        font-size:35px;
        width:800px;
        margin-left:100px;
    }

    #thirdsection {
        margin-left:200px;
    }
}

@media (max-width:768px) {
    .flexbox1row {
        width:500px;
    }
    #thecorpsebride, #homealone, #secondposter {
        width:500px;
    }
    #cinema {
        width:700px;
    }
    .hero #overlaytextcinema {
        font-size:24px;
    }
    .hero #overlaytextcinema2 {
        font-size:22px;
    }
    #firstsection #header1 {
        font-size:55px;
        width:600px;
        margin-left:125px;
    }
    #firstsection #top5christmas {
        margin-left:40px;
    }
    #firstsection #xmastext {
        margin-left:0;
    }
    #firstsection #top5binge {
        margin-left:0;
        margin-bottom:50px;
    }
    #firstsection #bingetext {
        margin-left:0;
    }
    #firstsection #top5halloween {
        margin-left:50px;
    }
    #firstsection #halloweentext {
        margin-left:0;
        width:500px;
    }
    .flexcontainer1 {
        flex-direction:column;
        margin-left:145px;
    }

    #header2 {
        width:500px;
        margin-left:130px;
    }

    .flexcontainer2 {
        margin-left:50px;
    }

    #sugtext {
        font-size:25px;
        width:600px;
        margin-left:140px;
    }

    #thirdsection {
        margin-left:140px;
        width:570px;
    }

    .watchmovies {
        width:500px;
    }

    #secondsection {
        width:600px;
    }

    .flexrow3 {
        width:600px;
    }

    .flexcontainer2 {
        width:600px;
    }
    #cavea, #disney, #primevideo {
        margin-left:250px;
    }
    #netflix {
        margin-left:280px;
    }
}

@media (max-width:450px) {
    header {
        left:50%;
        margin-right: -50%;
        background-color:black;
    }
    footer {
        width:300px;
    }
    #tbclogo1 {
        width:50px;
        margin-left:50%;
        opacity:0;
    }

    .footerdivone {
        margin-left:20px;
        width:200px;
    }
    .hero {
        margin-left:320px;
    }
    #cinema {
        width:600px;
    }
    .hero #overlaytextcinema {
        font-size:15px;
        width:200px;
    }
    .hero #overlaytextcinema2 {
        font-size:15px;
        width:200px;
        margin-top:15px;
    }
    #homealone, #secondposter, #thecorpsebride {
        width:300px;
    }
    p {
        width:300px;
    }
    #firstsection #header1 {
        font-size:35px;
        width:200px;
        margin-left:120px;
    }
    .flexbox1row {
        width:300px;
    }
    #firstsection #top5christmas {
        width:250px;
        font-size:20px;
        margin-left:0;
    }
    #firstsection #top5binge {
        width:250px;
        font-size:20px;
        margin-left:0;
    }
    #firstsection #top5halloween {
        width:250px;
        font-size:20px;
        margin-left:0;
    }
    .firsta {
        margin-left:10px;
        width:250px;
        display:block;
    }
    #firstsection #xmastext {
        width:250px;
    }
    #firstsection #halloweentext {
        width:250px;
    }
    #firstsection #bingetext {
        width:250px;
    }
    #firstsection {
        margin-left:35px;
    }
    #header2 {
        font-size:25px;
        width:250px;
        margin-left:150px;
    }
    .watchmovies {
        width:250px;
    }

    .flexcontainer2 {
        margin-left:120px;
        width:300px;
    }
    .flexrow3 {
        width:300px;
    }
    #cavea, #disney, #primevideo {
        margin-left:110px;
    }
    #netflix {
        margin-left:120px;
    }
    #secondsection {
        width:300px;
    }
    #sugtext {
        width:250px;
        margin-left:200px;
    }
    #thirdsection #sugpic {
        width:300px;
        height:500px;
    }
    #thirdsection {
        width:300px;
    }
    
    #thirdsection {
        margin-left:180px;
        width:300px;
        flex-direction:column;

            #container {
                width:300px;
                padding:15px;
                margin-left:0;

                    form {
                        width:300px;
                        padding-left:0;
                        padding:0;

                        label {
                            margin-left:15px;
                            margin-top:20px;
                        }

                            button {
                                margin-left:90px;
                            }
                    }
            }

            
    }

}